<h1>Welcome to The Tweetomator</h1>
<p class="lead">
	Tweetomator is a Rails app that allows users to search for tomato related tweets (tweets that have the word tomato in them).
	Each user also has access to his previous search history including the date of the search and the top 10 results that the user got.

	<p>
		<%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' %>
	</p>
</p>
