<h1>Search history</h1>
<% @search_history.each do |entry| %>
	<div class="container">
		<h3><%= entry[:date] %></h3>
		<p>
			<dl>
				<% entry[:results].each do |t| %>
					<dt><em><%= t.author %></em> says:</dt>
					<dd><%= t.text %></dd>
				<% end %>
			</dl>
		</p>
	</div>
<% end %>