<h1>Tomatos search form</h1>
<%= form_for 'search', url: twitter_search_search_path, method: :post, html: { class: 'form-inline'} do |f| %>
	<div class="form-group">
		<%= f.text_field :term, class: 'form-control', placeholder: 'search for tomatos...' %>
	</div>
	<%= f.submit 'Search', class: 'btn btn-primary' %>
<% end %>