<h1>Recent tweets for <em><%= params[:search][:term] %></em></h1>

<% if @recent_tweets.present? %>
	<p>
		<%= link_to 'Back to search form', :back %>
	</p>
	<dl>
		<% @recent_tweets.each do |t| %>
			<dt><em><%= t.user.screen_name %></em> says:</dt>
			<dd><%= t.text %></dd>
		<% end %>
	</dl>
<% else %>
	<p>
		Nothing found. <%= link_to 'Back to search form', :back %>
	</p>
<% end %>
